h1,
h2,
h3,
h5 {
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222;
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}

.cards {
  display: grid;
  margin: 0 auto;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 15px;
  width: fit-content;
}

.card {
  background: #fff;
  width: auto;
  height: auto;
  border-radius: 0.6em;
  margin: 1em;
  margin-left: 45px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  color: #777;
}

.card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2em;
}

.no-decoration {
  text-decoration: none;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5em 1em 0.5em 1em;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(10, 20, 10, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(10, 20, 10, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(10, 20, 10, 0.75);
}

.home,
.about {
  margin: auto;
}

.stuff {
  background: snow;
  padding: 2em;
  margin: 0em 1em 1em 1em;
  text-align: left;
}
.image {
  width: auto;
  height: auto;
  object-fit: cover;
  display: block;
}

.text {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.txtPrice {
  margin-right: 40px;
}
.bid {
  margin-left: 600px;
  margin-top: -80px;
}
