body {
	margin: 0;
}

.sidebar {
	margin-top: 76px;
	margin-right: 100px;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50px;
	background-color: #f7f7fa;
	overflow-x: hidden;
	padding-top: 20px;
}

/*.items {
  margin-left: 350px;
  background-color: #f7f7fa;
  width: 100%;
  margin-right: 50px;
  margin-top: 50px;
}*/

.right-container {
	margin-left: 400px;
	background-color: #f7f7fa;
	width: auto;
	margin-top: 120px;
	margin-right: 50px;
}
