body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  background: black;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  color: white;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin-right: 30px;
}
#header-search {
  margin-right: 10px;
}

.navbar-container {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  width: 100%;
}
